@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Mohammad Sheikha</p>
    <img src="https://i.pinimg.com/564x/60/20/8b/60208b4f19aadad329833029fb6220f7.jpg" alt="IMG">
</div>
